.no-js #isotope-checkbox-options {
  display: none;
  visibility: hidden;
}

.js .no-js-menu,
.js #block-views-e45453d1642ffd0c9ec65173ce88d331 {
  display: none;
  visibility: hidden;
}

#isotope-container {
  margin-left: -10px;
  margin-right: -10px;
}

#isotope-container a {
  display: block;
  height: 240px;
  width: 100%;
}

#isotope-container .isotope-element {
  width: 202px;
  overflow: visible;
  height: 240px;
  margin: 10px;
}

#isotope-container .isotope-element img {
  width: 202px;
  height: auto;
}

#isotope-checkbox-options label {
  display: inline-block;
  margin-right: 10px;
}
